SonED2 Projects/temp.dat
SonED2 v1.0x Projects/temp.dat
SonLVL INI Files/dllcache
SonLVL INI Files/SonLVL.log

# Misc. compiler output.
*.lst
*.log
sonic.p

# Built ROMs.
*.gen
sonic.debug.lst
s1built.prev.bin
s1built.bin
__Release/GHM4.cue

#GenesisDoes source tool shortcuts
Assets/Tools/Art/*.lnk
Assets/Tools/Audio/*.lnk
Assets/Tools/Disasm/Hw_Ref/*.lnk
Assets/Tools/Editor/*.lnk
Assets/Tools/Emu/*.lnk
Assets/Tools/Misc/*.lnk

#GenesisDoes source assets
Assets/Audio/GenesisDoes1/Genesis _ That's All (HQ) \[k0qil0eKTEk\].mp3
Assets/Audio/GenesisCan/Sonic the Hedgehog Pasta USA Commercial.mp3
Assets/Audio/GenesisDoes1/GenesisDoes1_data
Assets/Audio/GenesisDoes1/GenesisDoes1_LD_data
Assets/Audio/GenesisDoes1/GenesisDoes1.aup
Assets/Audio/GenesisDoes1/GenesisDoes1_LD.aup
Assets/SolidSplashes/GenesisCan/SonicPasta.mp4
Assets/Audio/MMZ_BF_Jap/credits.txt
Assets/Audio/MMZ_BF_Jap/Metallic Madness Bad Future JP V1.5.vgm
Assets/Audio/MMZ_BF_Jap/Metallic Madness Zone Act 1 - Sonic Mania \[OST\].mp3